script#navbar_template(type='text/html')
    ul.nav
        li.logo.logo-font
            a(href='/#') Scenic
        {{#channel}}
        li
            a#ChatButton(href='\#{{ channel }}', onclick='toggle_chat(this)').on
                span.on-text Chat On
                span.off-text Chat Off
        li
            a.upload-pic(href='\#{{ channel }}') Upload Pictures
        li
            a.show-pic(href='\#{{ channel }}') Show Pictures
    ul.nav.pull-right
        li.dropdown
            a.dropdown-toggle(href='\#{{ channel }}', data-toggle="dropdown")
                span.at @
                span.nick
                b.caret
            ul.dropdown-menu(role="menu", area-labelledby="nick_dropdown")
                li
                    a.change-nick(href='\#{{ channel }}') Change nickname
        li.dropdown
            a.dropdown-toggle(href='\#{{ channel }}', data-toggle="dropdown")
                span.sharp #
                span {{ channel }}
                b.caret
            ul.dropdown-menu(role="menu", area-labelledby="channel_dropdown")
                li
                    a.move-channel(href='\#{{ channel }}') Move to another channel

        {{/channel}}

script#index_template(type='text/html')
    .container.center-aligned
        h1.logo-font.logo Scenic
        p.lead.logo-desc See great pictures with your friends!

        h1.logo-font.title.join-channel-title Join a channel.
        form.input-append.join-channel(onsubmit='return join_channel();')
            input#channel_name.text.lead(type='text', placeholder='#channel')
            input.btn.submit.lead(type='submit', value='Enter')

        h1.logo-font.title Scenic?
        p.lead Scenic is a Node.js based album app in which you can see great pictures with your friends in realtime.

        h1.logo-font.title How to Use?
        dl.dl-horizontal.how-to-use.lead
            dt Step 1.&nbsp;
            dd Join a channel.

            dt Step 2.&nbsp;
            dd Upload a picture.

            dt Step 3.&nbsp;
            dd The picture you uploaded is synced and all your friends in the channel always see the same picture.

            dt.last Step 4.&nbsp;
            dd.last Profit!

        h1.logo-font.title Fork me on GitHub!
        p.lead
            a(href='https://github.com/noraesae/scenic', target='_blank') Yes, I really love open source.

        p.lead.copyright The MIT License (MIT) Copyright (c) 2012 <a href='https://github.com/noraesae' target='_blank'>HyeonJe Jun</a>.

script#chat_template(type='text/html')
    #Chat
        .userlist-box
        .scroll-box
            dl.dl-horizontal.chat-log
        .input-box
            .nick
            .chat-text-input-wrapper
                input.chat-input(type='text')

script#chatlog_template(type='text/html')
    dt {{ from }}
    dd {{ msg }}

script#notice_template(type='text/html')
    dt.text-info notice
    dd.text-info {{ msg }}

script#set_nick_template(type='text/html')
    #SetNick.modal.hide.fade(tabindex="-1", role="dialog", area-labelledby="setNickLabel", aria-hidden="true")
        .modal-header
            h3 Set your nickname.
        .modal-body
            input.modal-big-text.nickname(type='text', placeholder='@nick')
        .modal-footer
            button.btn(onclick="location.href='#';", data-dismiss='modal', area-hidden='true') Close
            button.btn.btn-primary.set-nick Enter

script#change_nick_template(type='text/html')
    #ChangeNick.modal.hide.fade(tabindex="-1", role="dialog", area-labelledby="changeNickLabel", aria-hidden="true")
        .modal-header
            h3 Set your new nickname.
        .modal-body
            input.modal-big-text.nickname(type='text', placeholder='@nick')
        .modal-footer
            button.btn(data-dismiss='modal', area-hidden='true') Close
            button.btn.btn-primary.change-nick Enter

script#move_channel_template(type='text/html')
    #ChangeNick.modal.hide.fade(tabindex="-1", role="dialog", area-labelledby="moveChannelLabel", aria-hidden="true")
        .modal-header
            h3 Enter the name of the channel to move into.
        .modal-body
            input.modal-big-text.channel(type='text', placeholder='#channel')
        .modal-footer
            button.btn(data-dismiss='modal', area-hidden='true') Close
            button.btn.btn-primary.move-channel Enter

script#upload_pic_template(type='text/html')
    #UploadPic.modal.hide.fade(tabindex="-1", role="dialog", area-labelledby="uploadPicturesLabel", aria-hidden="true")
        .modal-header
            h3 Upload your pictures!
        .modal-body
            form#uploadPictureForm(target='fileuploadIframe', action='/channel/{{ channel }}/upload', method='post', enctype='multipart/form-data')
                input(type='file', name='picture_uploaded')
            p.lead You can upload pictures with drag-and-drop in modern browsers except IE. Just drag-and-drop pictures into the channel page!
        .modal-footer
            button.btn(data-dismiss='modal', area-hidden='true') Close
            button.btn.btn-primary.upload-pic Upload

script#picture_template(type='text/html')
    .picture-wrapper
        a(href='/picture/{{ pid }}/original', target='_blank')
            img.picture(src='/picture/{{ pid }}', alt='{{ pid }}')

script#empty_channel_template(type='text/html')
    .container.center-aligned
        p.lead.channel-oops Oops! There's no picture uploaded in this channel...
        h1.channel-title
            span.sharp #
            span {{ channel }}
        p.lead.channel-oops Please upload your pictures!

script#show_pictures_template(type='text/html')
    #ShowPictures
        ul.picture-list

script#picture_thumbnail_template(type='text/html')
    li
        img(src='/picture/{{ pid }}/thumbnail', alt='{{ pid }}')

script#drag_and_drop_status_bar(type='text/html')
    #DragAndDropStatusBar
        .dragover-text Drop the file to upload!
        .uploading-text Uploading...
